
[class^="icono"]{
    font-size: 30px;}
   .fondo{background-color: black;
height: 100%;
margin:90px;
padding:10px;
}
body{
    background-color: black;
}
.superior{
    height:80px;
}
.cuerpo{
     width: 60%;
    height: 700px;
    background-color:white;
    color: black;
    margin: 40px auto;
    font-family: 'Roboto Flex', sans-serif;
    
}
.titulo{
    position:relative;
    top:20px;
    left:60px;
    font-size:large;
    font-weight:bold;
}
.iconos1{
    position:relative;
    bottom: 40px;
    left:20px ;
}
.icono2{position:relative;
    bottom: 80px;
    left:95%;
}
.icono3{
    bottom:0px;
    right:10px;

}
.icono4{
    position: relative;
    left:97%;
    bottom: 35px;

}
    
.centro {
 height: 400px;
 width: 45%px;

}
.inferior{
    margin: 10px;
    right:10px ;
}
.parrafo{
    right:80px;
}